<!-- Cabeçalho -->
<app-menu [recebeNome]="nomeUser" [recebeEquipe]="nomeEquipe"></app-menu>

<div class="sidebar">

  <div class="top">
      <h2>Seções:</h2>
      <div class="secaoPasta">

          <i class="fa-solid fa-folder"></i>
          <a href="#">Contas Pagas</a>
      </div>

      <div class="secaoPasta">

          <i class="fa-solid fa-folder"></i>
          <a href="#">Projetos</a>
      </div>
  </div>

  <div class="footer">
      <div class="footerSec">

          <i class="fa-solid fa-database"></i>
          <a routerLink="/metadado"><p>Cadastro de Metadados</p> </a>
      </div>

      <div class="footerSec">
          <i class="fa-solid fa-people-group fa-sm"></i>
          <a routerLink="/equipe">Controle Equipe </a>
      </div>

      <div class="footerSec">

          <i class="fa-solid fa-trash"></i>
          <a href="#">Lixeira Unificada </a>
      </div>
  </div>
</div>


<div class="main-content">
    
  <div class="metadata-form">
    <div class="newFile">
        <h3>Contas Pagas > Documentos</h3>
        <div class="addFile" style="background-color: rgb(53, 176, 53); display: flex; flex-direction: row; align-items: center; padding: 8px; gap: 5px; border-radius: 10px;">
            <i style="color: white;" class="pi pi-plus-circle"></i>
            <button style="background: none; color: white; border: none;" (click)="openModalDocumento()">Novo Documento</button>
        </div>
    </div>
    <div class="content">
        <div class="nomeArquivo" >
            <span class="titulo" style="font-size: 25px; color: blue;">Arquivo</span>
            <div *ngFor="let docu of documentosFinal">
            <div class="arquivo">
                <i class="fa-solid fa-file" notepad></i>
                <span>{{ docu.filename }}</span>
            </div>
            
            </div>
            
        </div>

        <div class="dadosArquivo">
            <div class="dataArquivo">
                <span class="titulo" style="font-size: 25px; color: blue;">Data de Envio</span>
                <div *ngFor="let docu of documentosFinal">
                <div class="arquivo">
                    <span>{{ docu.create }}</span>
                </div>
                
                </div>
            </div>
        </div>

        <div class="dadosArquivo">
        <div class="dataArquivo">
            <span class="titulo" style="font-size: 25px; color: blue;">Dono do Arquivo</span>
            <div *ngFor="let docu of documentosFinal">
                <div class="arquivo">
                    <span>{{ docu.donoId }}</span>
                </div>
                
            </div>
        </div>
    </div>
    </div>     
  </div>
</div>



<div id="modalCadastro" class="modal" #modalDocumento className="teste">
    <div class="modal-content">
      <i class="fa-solid fa-xmark" (click)="closeModalDocumento()"></i>
      <h2 style="align-self: center;">Upload de Arquivo</h2>
      <div id="formDocumento" >
        <div class="form-group" >
            <label for="file">Escolha um arquivo</label>
            <input type="file" (change)="onFileSelected($event)">
        </div>

        <div class="form-group">
            <label for="meta">Metadados Cadastrados</label>
            <div class="card flex justify-center">
                <p-multiselect [options]="metadadosTeste" [(ngModel)]="selectedCities" [filter]="true" optionLabel="description" placeholder="Selecione os Metadados" [maxSelectedLabels]="3" styleClass="w-full md:w-80"   />
            </div>
        </div>
  
  
        <div class="modal-buttons">
          <button type="button" class="btn-cancelar" (click)="closeModalDocumento()">Cancelar</button>
          <button type="submit" class="btn-salvar" (click)="uploadDocumento()">Salvar</button>
        </div>
      </div>
    </div>
  
</div>

