<!-- Cabeçalho -->
<app-menu [recebeNome]="nomeUser" [recebeEquipe]="nomeEquipe"></app-menu>

<div class="sidebar">

  <div class="top">
      <h2>Seções:</h2>
      <div class="secaoPasta">

          <i class="fa-solid fa-folder"></i>
          <a href="#">Contas Pagas</a>
      </div>

      <div class="secaoPasta">

          <i class="fa-solid fa-folder"></i>
          <a href="#">Projetos</a>
      </div>
  </div>

  <div class="footer">
      <div class="footerSec">

          <i class="fa-solid fa-database"></i>
          <a routerLink="/metadado"><p>Cadastro de Metadados</p> </a>
      </div>

      <div class="footerSec">
          <i class="fa-solid fa-people-group fa-sm"></i>
          <a routerLink="/equipe">Controle Equipe </a>
      </div>

      <div class="footerSec">

          <i class="fa-solid fa-trash"></i>
          <a href="#">Lixeira Unificada </a>
      </div>
  </div>
</div>


<div class="main-content">
    
  <div class="metadata-form">
      <h3>Contas Pagas > Documentos</h3>
      <button class="btn-cadastrarDocumento" (click)="openModalDocumento()">+ Novo Documento</button>
      <div class="content">
          <div class="nomeArquivo">
              <span class="titulo" style="font-size: 25px; color: blue;">Arquivo</span>
              <div class="arquivo">
                  <i class="fa-solid fa-file" notepad></i>
                  <span>Conta de Luz.pdf</span>
              </div>
              <div class="arquivo">
                  <i class="fa-solid fa-file" style="color: #74C0FC;"></i>
                  <span>RG Frente.jpg</span>
              </div>
              <div class="arquivo">
                  <i class="fa-solid fa-file" style="color: #74C0FC;"></i>
                  <span>Relatorio Semanal.docx</span>
              </div>
          </div>

          <div class="dadosArquivo">
              <div class="dataArquivo">
                  <span class="titulo" style="font-size: 25px; color: blue;">Data de Envio</span>
                  <div class="arquivo">

                      <span>25 - 10 - 2024</span>
                  </div>
                  <div class="arquivo">
                      <span>05 - 09 - 2024</span>
                  </div>
                  <div class="arquivo">
                      <span>12 - 11 - 2024</span>
                  </div>
              </div>
              <div class="donoArquivo">
                  <span class="titulo" style="font-size: 25px; color: blue;">Dono</span>
                  <div class="arquivo">

                      <span>Gustavo Bortoluci</span>
                  </div>
                  <div class="arquivo">
                      <span>Guilherme Bozo</span>
                  </div>
                  <div class="arquivo">
                      <span>Luís Nakamura</span>
                  </div>
              </div>
          </div>
      </div>



      
  </div>
</div>



<div id="modalCadastro" class="modal" #modalDocumento>
    <div class="modal-content">
      <i class="fa-solid fa-xmark" (click)="closeModalDocumento()"></i>
      <h2>Upload de Arquivo</h2>
      <div id="formDocumento" >
        <div class="form-group">
            <input type="file" (change)="onFileSelected($event)">
        </div>

        <div class="form-group">
            <label for="meta">Metadados Cadastrados</label>
            <select name="meta" id="meta">
                <option [value]="meta.id" *ngFor="let meta of metadadosFile">
                    {{meta.description}}
                </option>
            </select>
        </div>
  
  
        <div class="modal-buttons">
          <button type="button" class="btn-cancelar" (click)="closeModalDocumento()">Cancelar</button>
          <button type="submit" class="btn-salvar" (click)="uploadDocumento()">Salvar</button>
        </div>
      </div>
    </div>
  
</div>

