<div class="header">
  <img src="/Logoo1.png" style="width: 10rem; height: 5rem;">
  
</div>

<div class="container">
  <div class="novo">
    <button class="btn-cadastrar" (click)="openModalEquipe()">Iniciar Nova Equipe</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nome da Equipe</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipe of equipes">
        <td>{{ equipe.name }}</td>

        <td>

          <a (click)="adicionarMembros(equipe.id)">Adicionar Membros</a>
        </td>
      </tr>

    </tbody>
  </table>

</div>

<div id="modalCadastro" class="modal" #modalEquipe>
  <div class="modal-content">
    <i class="fa-solid fa-xmark" (click)="closeModalEquipe()"></i>
    <h2>Cadastrar Equipe</h2>
    <form id="formDocumento" #equipeForm="ngForm" (ngSubmit)="createEquipe(equipeForm.value)">
      <div class="form-group">
        <label for="description">Nome da Equipe</label>
        <input type="text" name="name" required ngModel>
      </div>



      <div class="modal-buttons">
        <button type="button" class="btn-cancelar" (click)="closeModalEquipe()">Cancelar</button>
        <button type="submit" class="btn-salvar">Salvar</button>
      </div>
    </form>
  </div>

</div>




<div id="modalCadastro" class="modal" #modalEquipeUsuario>
  <div class="modal-content">
    <i class="fa-solid fa-xmark" (click)="closeModalEquipeUsuario()"></i>
    <h2>Cadastrar Equipe</h2>
    <form id="formDocumento" #equipeFormUsuario="ngForm" (ngSubmit)="createEquipeUsuario(equipeFormUsuario.value)">
      <div class="form-group">
        <label for="description">Nome do Usuário</label>
        <input type="text" name="name" required ngModel>
      </div>

      <div class="form-group">
        <label for="description">Email do Usuário</label>
        <input type="text" name="email" required ngModel>
      </div>

      <div class="modal-buttons">
        <button type="button" class="btn-cancelar" (click)="closeModalEquipeUsuario()">Cancelar</button>
        <button type="submit" class="btn-salvar">Salvar</button>
      </div>
    </form>
  </div>
</div>
