<div class="container">

  <div class="login-container">
      <h1>Cadastro</h1>
      <form #registerForm="ngForm" (ngSubmit)="createUser(registerForm.value)">
          <div class="input-group">
            <label for="name">Nome</label>
            <input type="text"  name="name" placeholder="Seu nome"  ngModel>
          </div>
          <div class="input-group">
              <label for="email">E-mail</label>
              <input type="email"  name="email" placeholder="Seu e-mail"  ngModel>
          </div>
          <div class="input-group">
              <label for="password">Senha</label>
              <input type="password" name="password" placeholder="Sua senha"  ngModel>
          </div>
          <button type="submit">Cadastrar</button>
      </form>
  </div>
</div>
